body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 2rem 6rem;
}

a {
  text-decoration: none;
  color: #3c3c3c;
  font-weight: bold;
}

#logo {
  font-size: 2rem;
  font-weight: bolder;
  color: #000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  margin-right: 2.5rem;
}

.nav-btns a {
  margin-left: 1.5rem;
}

.greenBtn {
  display: inline-block;
  padding: 0.8rem 2rem;
  background-color: #8ee5d1;
  border-radius: 3rem;
}

.banner {
  display: flex;
  align-items: center;
  height: 60vh;
  padding: 3rem 0;
}

.banner-img {
  display: inline-block;
  width: 40%;
}

.container h1 {
  font-size: 3rem;
}

.container p {
  font-weight: lighter;
  font-size: 1.5rem;
  width: 75%;
}

.demo {
  background-color: #f4f7fa;
  display: flex;
  padding: 3rem;
  align-items: center;
  justify-content: center;
}

.demoBtn {
  border-radius: 0.8rem;
}

input[type="text"] {
  width: 30%;
  padding: 0.8rem 2rem;
  border-radius: 0.75rem;
  margin-right: 1rem;
  border: 1px solid #ccc;
  color: #bbb;
  font-size: 1rem;
}

.container h2 {
  font-size: 2.3rem;
}

.secondbanner-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem;
}

.secondbanner-text p {
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 4rem;
}

.card {
  background-color: #f4f7fa;
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin: 2rem;
}

.card p {
  font-size: 1.25rem;
}

.card h3 {
  font-size: 1.5rem;
}

.card h2 {
  color: turquoise;
}

.footer {
  background-color: #f4f7fa;
  display: flex;
  padding: 2rem 8rem;
  align-items: center;
  justify-content: space-between;
}

.about {
  width: 40%;
  text-align: left;
}

.contact {
  text-align: right;
}

.footer h3 {
  font-size: 1.5rem;
}

.footer p {
  font-weight: lighter;
}
